*.exe
*.pyc
*.swp
*.__*
nohup.out

doMeasurement/CMSdata/
doMeasurement/CMSdata_REFIT/
doMeasurement/CARDS_for_WIDTH/
doMeasurement/datacardsInputs_*/
doMeasurement/datacardsOutputs_KDFalse_*/
doMeasurement/datacardsOutputs_KDTrue_*/
doMeasurement/dummy*
doMeasurement/hllhc3kfb14tevprojection/
doMeasurement/pre-ultralegacy/
doMeasurement/rerecobackup/
doMeasurement/vbftagtest/
doMeasurement/commoninputs/oldhig16041/
doMeasurement/commoninputs/SM_inputs_13TeV/inputs_withZX_UpdatedLumi_tHq/
doMeasurement/commoninputs/SM_inputs_13TeV/old/
doMeasurement/CrossCheckFilippoCards/


Others/Slimmer/Dump/
Others/Slimmer/OutPutTrees*/

Others/ToyStudy/toyCode/
Others/ToyStudy/SlimForToyStudy/Dump/
Others/ToyStudy/SlimForToyStudy/OutPutTrees/

Others/hig-21-019-arc/
Others/ThesisPlots/

Others/EBE/checksnewebe_26March2023/

Others/Scale/
